:root {
  --background: #eae7dc;
  --font: #e85a4f;
  --border: #8e8d8a;
  --screen: #eae7dc;
  --calculator: #d8c3a5;
  --btn: #eae7dc;
  --btn-hover: #ece1ba;
  --btn-red: #e85a4f;
  --btn-red-hover: #ec3123;
  --btn-blue: #98ace4;
  --btn-blue-hover: #99e;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--font);
  line-height: 1.6;
  margin-bottom: 100px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.title {
  text-align: center;
}

.calculator {
  width: 400px;
  padding: 20px;
  background-color: var(--calculator);
  border: 2px var(--border) solid;
  border-radius: 5px;
}

.screen {
  padding: 10px 20px;
  border: 2px var(--border) solid;
  margin-bottom: 20px;
  background-color: var(--screen);
  text-align: right;
  border: 2px var(--border) solid;
  border-radius: 5px;
}

.screen-last {
  min-height: 32px;
  font-size: 20px;
  background: var(--screen);
}

.screen-current {
  min-height: 64px;
  font-size: 40px;
  background: var(--screen);
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.span-2 {
  grid-column: span 2;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

#clear-btn {
  background: var(--btn-blue);
}

#delete-btn {
  background: var(--btn-red);
}

.btn {
  padding: 20px;
  border: 2px var(--border) solid;
  border-radius: 5px;
  background-color: var(--btn);
  font-size: 20px;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn:active {
  background-color: #ecdda8;
  transform: scale(0.98);
  transition: transform 0.1s ease-in-out;
}

#clear-btn:hover {
  background-color: var(--btn-blue-hover);
}

#delete-btn:hover {
  background-color: var(--btn-red-hover);
}

#equal-btn:active {
  background-color: rgb(167, 250, 171);
  transform: scale(0.98);
  transition: transform 0.1s ease-in-out;
}

a {
  text-decoration: none;
  color: var(--font);
}

a:hover {
  text-decoration: underline;
}
